/* TODO: mettere le variabili per colori chiaro/scuro */

/* stile degli elementi globali */

:root {
    font-family: ui-sans-serif, system-ui, sans-serif;
    color-scheme: light dark;
    font-size: 16px;

    --testo-light: black;
    --testo-dark: white;
    --th-light: lightgrey;
    --th-dark: #222222;
    --h2-light: blue;
    --h2-dark: deepskyblue;
    --bg-color-light: white;
    --bg-color-dark: black;
    --menu--color-light: slategrey;

}

html {
    color: light-dark(var(--testo-light), var(--testo-dark));
}

body {
    /* display: flex; */
    /* flex-direction: column; */
    margin: 0;
    /* align-items: center; */
}

h1 {
    /* padding: 0; */
    margin: 0;
    color: light-dark(var(--h2-light), var(--h2-dark));
}

h2 {
    color: light-dark(var(--h2-light), var(--h2-dark));
    width: 70%;
}

li {
    text-align: left;
}

p {
    padding-left: 16px;
    padding-right: 16px;
    max-width: 70%;
}

.titolo {
    text-align: center;
    font-weight: bold;
}

/* .articolo {
    display: flex;
    align-items: center;
} */

.paragrafo {
    text-align: justify;
}

/* stile degli elementi semantici */

main {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    /* align-items: center; */
    max-width: 1080px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: min-content;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: light-dark(var(--bg-color-light), var(--bg-color-dark));
}   

/* .intestazione {
    font-size: 1em;
    text-align: center;
    padding: 0.5em;
    flex-direction: row;
    justify-content: space-between;
} */

nav {
    /* position: fixed; */
    /* left: 0; */
    /* top: 1em; */
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    /* z-index: 1000; */

    height: 100vh;
    min-height: 100%;
    overflow: auto;
    flex-shrink: 0;
}

aside {
    flex: 1;
    background-color: light-dark(var(--bg-color-light), var(--bg-color-dark));
    width: 100%;
    align-items: center;
    /* height: 100vh; */
    /* min-height: 100%; */
    /* overflow: auto; */
    /* min-width: 400px; */
    position: relative;
}

/* .tema {
    padding: 5px;
    position: fixed;
    top: 0;
    right: 0;
} */

/* .sezione {
    display: flex;
}

.sezione.attivo {
    display: flex;
    padding: 20px 20px 20px 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;
} */

.sezione {
    display: none;
    padding: 20px 20px 20px 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

div.scheda {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: light-dark(var(--th-light), var(--th-dark));
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 1rem;
    width: 70%;
}

#normativa p.testo {
    display: none;
    text-align: justify;
}

#normativa p.articolo {
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
}

#normativa p.articolo:hover {
    cursor: pointer;
}

/* TODO: da rivedere per il px */

button {
    cursor: pointer;
    padding: 10px;
    margin: 2px;
}

/* stile del contenuto della sidebar */

/* .tab {
    background-color: blue;
    color: white;
    padding: 12px 8px 12px 8px;
    cursor: pointer;
    border-radius: 8px 0 0 8px;

    writing-mode: vertical-rl;

    font-weight: bold;
    text-align: center;

    transform: rotate(180deg);
    margin-right: 12px;
    transition: margin-right 0.25s ease, padding-right 0.25s ease;
} */

/* .tab:hover,
.tab.attivo {
    filter: brightness(85%);
    padding-right: 20px;
    margin-right: 0;
} */

/* stile generico delle tabelle */

table {
    width: 100%;
    border-collapse: collapse;
}

table td,
table th {
    border: 4px solid light-dark(var(--testo-dark), var(--testo-light));
    padding: 10px;
}

table th {
    background-color: light-dark(var(--th-light), var(--th-dark));
}

/* stile specifico della tabella matrice */

.matrice {
    max-width: calc(1920px/4);
    text-align: center;
    table-layout: fixed;
}

.matrice td,
.matrice th {
    color: light-dark(var(--testo-light), var(--testo-dark));
    font-weight: bold;
    /* height:2rem; */
    /* width: 2rem; */
}

.matrice td:first-of-type {
    text-align: right;
    padding: 0 20px 0 0;
    /* border: 10px; */
    /* margin-right: 5px; */
}

/* .matrice th:nth-of-type(1), .matrice th:nth-of-type(2) {
    border: 0px;
} */

.matrice .vuoto {
    border: 0px;
}

.matrice .prob,
.matrice .grav {
    cursor: pointer;
}

.matrice .selezionato {
    outline: 4px solid orange;
}

/* stile specifico della tabella gruppi */

.gruppi {
    width: 70%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* .gruppi td:first-of-type {
    text-align: center;
} */

/* .gruppi th {
    background-color: light-dark(lightgrey, #222222);
} */

/* stile specifico della tabella agenti */
/* TODO: scrollare solo la tabella degli agenti e non tutta la schemata */

.gruppoFiltro {
    display: flex;
    align-items: stretch;
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
}

.gruppoFiltro button {
    margin-left: 1rem;
    padding: 0;
    width: 2rem;
    height: 2rem;
}

#elencoAgenti {
    /* table-layout: auto; */
    width: 100%;
}

/* TODO: cambiare la grandezza fissa da px ad altro*/
#elencoAgenti th:nth-child(2) {
    width: 300px;
}

#elencoAgenti tr:nth-of-type(even) {
    background-color: light-dark(var(--th-light), var(--th-dark));
}

table .rischio1,
table .gruppo1 {
    background-color: green;
    height: 2rem;
    width: 2rem;
    font-size: 1.5rem;
}

table .rischio2,
table .gruppo2 {
    background-color: yellow;
    color: black;
    height: 2rem;
    width: 2rem;
    font-size: 1.5rem;

}

table .rischio3,
table .gruppo3 {
    background-color: red;
    height: 2rem;
    width: 2rem;
    font-size: 1.5rem;
}

table .rischio4,
table .gruppo4 {
    background-color: #222222;
    color: white;
    height: 2rem;
    width: 2rem;
    font-size: 1.5rem;
}

/* stile della sezione PDF e del QR code */

.download a {
    display: inline-block;
    margin-top: 20px;
    background-color: light-dark(var(--h2-light), var(--h2-dark));
    color: white;
    padding: 12px 18px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

#pdf {
    justify-items: center;
}

#qrcode {
    padding: 20px;
}

/* TODO: RESPONSIVE */
/* TODO: rimpicciolire caratteri in normativa ed introduzione */
/* TODO: ingrandire il check verde per il vaccino e cambiare colore con il tema */
/* @media (max-width: 768px) { */

@media (orientation: portrait) {

    :root {
        font-size: 13px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        /* font-size: 12px; */
        font-size: 0.8rem;
    }

    /* table th,
    table td {
        padding: 5px;
    } */

    .vaccino {
        font-size: 1.3rem;
    }

    p {
        font-size: 1rem;
        max-width: 85%;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
    }

    div.scheda {
        width: 85%;
    }

    /* .container {
                flex-direction: column;
            }

            .sidebar {
                width: 100%;
                display: flex;
                overflow-x: auto;
            }

            .tab {
                flex: 1;
                text-align: center;
                border-left: none;
                border-bottom: 4px solid transparent;
            }

            .tab.active {
                border-bottom: 4px solid #ffd700;
            } */
}



.dropbtn {
    background-color: light-dark(var(--th-light), var(--th-dark));
    color: light-dark(var(--testo-light), var(--testo-dark));
    padding: 16px;
    /* padding: 16px; */
    /* font-size: 1rem; */
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1000;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content div {
    color: light-dark(var(--testo-light), var(--testo-dark));
    background-color: light-dark(var(--th-light), var(--th-dark));
    cursor: pointer;
    padding: 12px 10px;
    text-decoration: none;
    display: block;
    font-weight: bold;

    /* background-color: blue; */
    /* color: white; */
}

.dropdown-content div:hover {
    background-color: gray;
}

.dropdown:hover .dropbtn {
    background-color: gray;
}