:root {
    color-scheme: light dark;
}

html {
    color: light-dark(#000, #fff);
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.contenitore {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.intestazione {
    font-size: 1em;
    text-align: center;
    padding: 0.5em;
    flex-direction: row;
    justify-content: space-between;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 2em;
    /* transform: translateY(-50%); */
    display: flex;
    flex-direction: column;
    gap: 1em;
    z-index: 1000;
}

.tab {
    width: 1em;
    background-color: #4CAF50;
    color: white;
    padding: 12px 16px 12px 8px;
    cursor: pointer;
    border-radius: 8px 0 0 8px;
    /* box-shadow: -2px 2px #AAAAAA; */

    writing-mode: vertical-rl;
    transform: rotate(180deg) translateX(10px);

    font-size: 1em;
    letter-spacing: 1px;
    text-align: center;

    transition: transform 0.25s ease, background-color 0.25s ease;
}

.tab:nth-of-type(1) {
    background-color: #ff0000;
}

.tab:nth-of-type(2) {
    background-color: #007700;
}

.tab:nth-of-type(3) {
    background-color: #0000ff;
}

.tab:nth-of-type(4) {
    background-color: #777700;
}

.tab:nth-of-type(5) {
    background-color: #ff00ff;
}

.tab:hover {
    filter: brightness(85%);
    transform: rotate(180deg) translateX(0px);
}

.tab.attivo {
    filter: brightness(85%);
    transform: rotate(180deg) translateX(0px);
}

.contenuto {
    flex: 1;
    padding: 30px 40px 40px 60px;
    background-color: light-dark(white, black);
}

.sezione {
    display: none;
}

.sezione.attivo {
    display: block;
}

h1,
h2 {
    color: light-dark(#005a9c, white);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table th,
table td {
    border: 1px solid #ccc;
    padding: 10px;
}

table th {
    background-color: light-dark(#e6eef5, black);
}

.download a {
    display: inline-block;
    margin-top: 20px;
    background-color: #005a9c;
    color: white;
    padding: 12px 18px;
    text-decoration: none;
    border-radius: 5px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    /* .container {
                flex-direction: column;
            }

            .sidebar {
                width: 100%;
                display: flex;
                overflow-x: auto;
            }

            .tab {
                flex: 1;
                text-align: center;
                border-left: none;
                border-bottom: 4px solid transparent;
            }

            .tab.active {
                border-bottom: 4px solid #ffd700;
            } */
}