/* stile degli elementi globali */

:root {
    color-scheme: light dark;
}

html {
    color: light-dark(black, white);
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

h1,
h2 {
    padding-left: 16px;
    padding-right: 16px;
    color: light-dark(blue, deepskyblue);
}

li {
    text-align: left;
}

p {
    padding-left: 16px;
    padding-right: 16px;
}

/* stile degli elementi semantici */

main {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
}

header {
    position: fixed;
    right: 5px;
    top: 5px;
}

/* .intestazione {
    font-size: 1em;
    text-align: center;
    padding: 0.5em;
    flex-direction: row;
    justify-content: space-between;
} */


/* todo: verificare perchè il tab in overflow non funziona */
/* probabilmente c'è un problema con l'altezza fissa della nav */
/* verificare grandezza sezioni matrice e PDF */

nav {
    /* position: fixed; */
    /* left: 0; */
    /* top: 1em; */
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    /* z-index: 1000; */

    height: 100vh;
    min-height: 100%;
    overflow: auto;
    flex-shrink: 0;
}

aside {
    flex: 1;
    background-color: light-dark(white, black);
    width: 100%;

    height: 100vh;
    min-height: 100%;
    overflow: auto;
}

.sezione {
    display: none;
}

.sezione.attivo {
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


button {
    cursor: pointer;
    padding: 10px;
}

/* stile del contenuto della sidebar */

.tab {
    /* width: 1em; */
    /* background-color: #4CAF50; */
    background-color: blue;
    color: white;
    padding: 12px 8px 12px 8px;
    cursor: pointer;
    border-radius: 8px 0 0 8px;
    /* box-shadow: -2px 2px #AAAAAA; */

    writing-mode: vertical-rl;

    /* font-size: 1em; */
    font-weight: bold;
    /* letter-spacing: 1px; */
    text-align: center;

    /* transform: rotate(180deg) translateX(10px);
    transition: transform 0.25s ease, background-color 0.25s ease; */

    transform: rotate(180deg);
    margin-right: 10px;
    transition: margin-right 0.25s ease, padding-right 0.25s ease;
    /* transition: margin-right 0.25s ease; */
} 

.tab:hover, .tab.attivo {
    filter: brightness(85%);
    padding-right: 20px;
    /* transform: rotate(180deg) translateX(0px); */
    /* padding-left: 10px; */
    margin-right: 0;
}

/* stile generico delle tabelle */

table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    border: 4px solid light-dark(white, black);
    padding: 10px;
}

/* stile specifico della tabella matrice */

.matrice {
    max-width: calc(1920px/4);
    text-align: center;
    /* table-layout: fixed; */
}

.matrice td,
.matrice th {
    color: light-dark(black, white);
    font-weight: bold;
    height: 20%;
    /* altezza delle celle 1/5 della tabella */
    min-height: 20%;
    /* altezza delle celle 1/5 della tabella */
    max-height: 20%;
    /* altezza delle celle 1/5 della tabella */
    width: 20%;
    /* larghezza delle celle 1/5 della tabella */
    /* aspect-ratio: 1 / 1 ; */
    /* background: gold; */
}

.matrice td:first-of-type {
    text-align: right;
    padding:  0 20px 0 0;
        /* border: 10px; */
    /* margin-right: 5px; */
}

/* .matrice th:nth-of-type(1), .matrice th:nth-of-type(2) {
    border: 0px;
} */

.matrice .vuoto {
    border: 0px;
}

.matrice .prob,
.matrice .grav {
    cursor: pointer;
}

.matrice .r0 {
    background-color: green;
    color: black;
}

.matrice .r1 {
    background-color: yellow;
    color: black;
}

.matrice .r2 {
    background-color: red;
    color: black;
}

.matrice .r3 {
    background-color: black;
    color: white;
}

.matrice .selezionato {
    outline: 4px solid orange;
}

/* stile specifico della tabella gruppi */

.gruppi {
    max-width: calc(1920px/4);
}

.gruppi td:first-of-type {
    text-align: center;
}

.gruppi th {
    background-color: light-dark(lightgrey, grey);
}

/* stile della sezione PDF e del QR code */

.download a {
    display: inline-block;
    margin-top: 20px;
    background-color: light-dark(blue, deepskyblue);
    color: white;
    padding: 12px 18px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

#pdf {
    justify-items: center;
}


#qrcode {
    padding: 20px;
}

/* TODO: RESPONSIVE */
/* @media (max-width: 768px) { */
@media (orientation: portrait) {
    table {
        width: 100%;
        border-collapse: collapse;
        font-size: 12px;
    }

    /* .container {
                flex-direction: column;
            }

            .sidebar {
                width: 100%;
                display: flex;
                overflow-x: auto;
            }

            .tab {
                flex: 1;
                text-align: center;
                border-left: none;
                border-bottom: 4px solid transparent;
            }

            .tab.active {
                border-bottom: 4px solid #ffd700;
            } */
}